/* css를 작성하시면 됩니다. */
/* 가급적 네이밍을 신경써서 Semantic하게 해주세요 */

body {
  text-align: center;
  margin: 35px auto;
}
ul {
  margin: 30px 0;
  padding: 0;
  list-style-type: none;
}
.container .todoInput .inputBox {
  display: flex;
  justify-content: center;
}
/* .container .todoList {
  margin-left: 350px;
  margin-right: 398px;
} */
input {
  border-style: 1px solid #ced6e0;
  width: 30%;
  padding: 14px;
  border-width: -2px;
  border-right-width: -2px;
}
input:focus {
  outline: none;
}
#addTodoBtn {
  font-size: 12px;
  line-height: 40px;
  color: white;
  width: 5%;
  padding: 3px 3px 1px 3px;
  border-style: 1px solid #6d214f;
  border-radius: 0 6px 6px 0;
  background-color: #6d214f;
  cursor: pointer;
}
ul li {
  display: flex;
  padding: 20px 0 20px 0;
  background-color: #ced6e0;
  border-bottom: 1px solid white;
  border-radius: 7px 7px 0 0;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
}
ul li.checked::before {
  background-color: #2f3542;
  color: white;
  opacity: 0.8;
  text-decoration: line-through;
}
.todoBtnBox {
  position: relative;
}
.todoItemText {
  position: absolute;
  text-decoration: none;
  font-size: 14px;
  padding: 10px;
  width: 200px;
  top: -15px;
  right: 100px;
  cursor: pointer;
  text-align: left;
}
.todoItemComplete {
  position: absolute;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px;
  width: 25px;
  top: -15px;
  left: 147px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
.todoItemEdit {
  position: absolute;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px;
  width: 25px;
  top: -15px;
  left: 190px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
.todoItemRemove {
  position: absolute;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px;
  width: 25px;
  top: -15px;
  left: 233px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
