/* css를 작성하시면 됩니다. */
/* 가급적 네이밍을 신경써서 Semantic하게 해주세요 */

/* 
    css reset
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  background-color: #dfe4ea;
}

/* todoHeader css */
.todoHeader {
  text-align: center;
}
h1 {
  font-size: 2rem;
  font-weight: 550;
  margin: 2rem 0 2rem;
}

/* todoInput css */
.todoInput {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.todoInput .input {
  padding: 0.5rem 1rem;
  height: 50px;
  outline: none;
  background-color: #ffffff;
  width: 450px;
  font-size: 1rem;
  border-radius: 1rem 0 0 1rem;
  border: none;
}
.addBtn {
  height: 50px;
  width: 60px;
  border-radius: 0 1rem 1rem 0;
  outline: none;
  border: none;
  background-color: #6f1e51;
  color: white;
  cursor: pointer;
}
.addButton:hover {
  opacity: 0.6;
}

/* todoList css */
.todoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}
.item {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #57606f;
}
.itemInput {
  background: none;
  outline: none;
  width: 370px;
  color: black;
  border: none;
  font-size: 1rem;
  margin-left: 1rem;
}
.itemCheck {
  width: 40px;
  height: 40px;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
.checked {
  text-decoration: line-through;
  color: #636e72;
}
.completeBtn {
  font-size: 0.9rem;
  font-weight: 500;
  color: #2f3542;
  margin: 0 0.5rem;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.editBtn {
  font-size: 0.9rem;
  font-weight: 500;
  color: #2f3542;
  margin: 0 0.5rem;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.removeBtn {
  font-size: 0.9rem;
  font-weight: 500;
  color: #2f3542;
  margin: 0 0.2rem;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
